[flake8]
max-line-length = 120
exclude=.venv,venv,tests/*,src/*/migrations/*,.git,*migrations*, manage.py
application-import-names=app
import-order-style=google
max-complexity=10
ignore=D106,D200,W503,E203
inline-quotes="
